
<section class="panel panel-featured-top panel-featured-primary">
	<div class="panel-body">
		<div class="room-number">
			방번호:		<span class="romm-number-text">120343</span>
		</div>
		<div class="room-player-avatar">
			<div class="player-avatar">
				<img src="assets/avatars/남자.png" alt="..." class="img-avatar">
				<!-- <p> pjh19870706 </p> -->
			</div>
			<div class="player-avatar">
				<img src="assets/avatars/남자.png" alt="..." class="img-avatar">
				<!-- <p> pjh19870706 </p> -->
			</div>
			<div class="player-avatar">
				<img src="assets/avatars/남자.png" alt="..." class="img-avatar">
				<!-- <p> pjh19870706 </p> -->
			</div>
		</div>
		<div class="room-footer">
			<a class="btn btn-primary">가입</a>
			<a class="btn btn-success">관람</a>
		</div>		
	</div>
</section>