<style>
	.img-avatar {
		border-radius: 50%;
		border: solid 2px #fff;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
		margin: 4px 4px 8px 4px;
	}
	img {
		vertical-align: middle;
		width: 100px;
		height: 100px;
	}
	.panel-container {
		margin-left: 0px;
	    margin-right: 0px;
	    display: flex;
	    flex: 1.0;
	    margin-top: 10px;
	}
	.user-avatar {
		text-align:center;
	}
	.user-avatar p {
		margin-top: 10px;
		font-weight:bold;
		font-size: 12pt;
	}
	.user-info {
		font-weight: bold;
	    font-size: 14pt;
	    line-height: 42px;
	    padding: 15px;
	    display: flex;
	    flex-direction: column;
	}
	.user-info > div {
		flex: 1;
	}
</style>
<div class="panel-container user-panel">
	<div class="user-avatar" style="width: 40%">
		<img src="assets/avatars/남자.png" alt="..." class="img-avatar">
		<p class="username"> pjh19870706 </p>
	</div>
	<div class="user-info" style="width: 55%">
		<div><span style="color:red">재련점수: </span> <span class="money">1 000 000</span>점</div>
		<div><span style="color:green">재련보석: </span> <span class="jewel">5 000</span>개</div>
	</div>
</div>
